<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ bank_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>{{ bank_name }}</h2>
        <p id="balance">Balance: ?</p>
        <h2>Affiliated Banks</h2>
        <h3 id="abName1">Banco Afiliado 1</h3>
        <p id="abBalance1">Balance: ?</p>
        <h3 id="abName1">Bancod Afiliado 2</h3>
        <p id="abBalance2">Balance: ?</p>
        <form id="depositForm">
            <input type="number" id="depositAmount" name="amount" placeholder="Deposit Amount" required>
            <button type="submit">Deposit</button>
        </form>
        <form id="withdrawForm">
            <input type="number" id="withdrawAmount" name="amount" placeholder="Withdraw Amount" required>
            <button type="submit">Withdraw</button>
        </form>
        <form id="transferForm">
            <input type="text" id="transferUsername" name="target_username" placeholder="Transfer to (username)" required>
            <h3 id="bankNameT">Banco</h3>
            <input type="number" id="transferAmount" name="amount" placeholder="Transfer Amount" required>
            <h3 id="abName1T">Banco Afiliado 1</h3>
            <input type="number" id="abTransferAmount1" name="amount" placeholder="Transfer Amount" required>
            <h3 id="abName2T">Banco Afiliado 2</h3>
            <input type="number" id="abTransferAmount2" name="amount" placeholder="Transfer Amount" required>
            <button type="submit">Transfer</button>
        </form>
        <div id="message"></div>
        <button id="logoutButton">Logout</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
