<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{bank_name}}</h1>
        <h2>Operações</h2>
        <button id="goToWithdraw">Saque</button>
        <button id="goToDeposit">Depósito</button>
        <button id="goToTransfer">Transferência</button>
        <button id="goToPayment">Pagamento</button>
        <h2>Saldo das Contas</h2>
        <div id="accountsBalances" class="balance-container"></div> 
        <button id="logoutButton">Logout</button>
    </div>
    <script src="{{ url_for('static', filename='account.js') }}"></script>
</body>
</html>
